button {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  color: #fff;
}

button:focus,
button:focus-visible {
  outline: none;
}

button:disabled {
  color: #999;
  pointer-events: none;
}

.game-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 18px;

  button {
    height: 64px;
    width: 94px;
    padding-top: 16px;
    display: flex;
    justify-content: center;
    transition: all 0.2s ease-out;

    background-position: 0px 50px;
    background-size: 600px 1000px;
    background-repeat: repeat-y;
    border-radius: 8px 8px 0 0;

    &:hover {
      height: 82px;
      background-position: 0 400px;
    }
  }
}

.start {
  background: linear-gradient(to bottom, rgb(60, 202, 136), rgb(38, 241, 207), rgb(60, 202, 136));
}

.stop {
  background: linear-gradient(to bottom, rgb(201, 25, 69), rgb(230, 7, 81), rgb(201, 25, 69));

}